:root{
    --header-background: #333030;
    --main-background: #f6ede6;
    --h2-background: #efd7c4;
    --hover-a: #bbb7b5;
    --h4-color:#95928d;
    --width-screen:1024px;
}

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
}

li{
    list-style: none;
    font-size: 18px;
}

a{
    text-decoration: none;
    position: relative;
}

h1{
    color: var(--hover-a);
    margin: 50px auto;
    font-size: 47px;
}

h2{
    padding: 10px 20px;
    font-size: 26px;
    text-align: center;
    background-color: var(--h2-background);
}

h3{
    padding: 10px 20px;
    font-size: 24px;
}

h4{
    color: var(--h4-color);
    margin: 10px;
    font-size: 18px;
}

p{
    padding: 5px 20px;
    font-size: 18px;
}

.container {
    max-width: var(--width-screen);
    margin: 0 auto;
}

.row{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 50px 30px 100px 30px;
}

.header,
.footer{
    background-color: var(--header-background);
    padding: 15px 0;
}

.header{
    height: 100vh;
}

.nav-link{
    color: white;
}

.header-nav-close{
    display: none;
    position: absolute;
    width: 100%;
    justify-content: end;
    color: wheat;
    z-index: 5;
}

.header-nav-close-x{
    margin-right: 20px;
}

.burger{
    display: none;
    align-self: flex-end;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 50px;
    width: 31px;
    height: 22px;
    transition: 0.7s;
}

.burger-line {
    width: 30px;
    border: 1px solid #F1CDB3;
}

header img{
    width: 100%;
    height: auto;
    border-radius: 50%;
    border: 5px solid transparent;
}

header img:hover{
    border: 5px solid #97877d;
}

.nav-list{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-item{
    margin: 20px;
}

.nav-link::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: var(--hover-a);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}

a:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

a:hover{
    color: var(--hover-a);
}

.content-name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 80px;
}

.content-colImage{
    width: 40%;
    padding-right: 35px;
    padding-top: 20px;
}

.content-img{
    width:100%;
    height: auto;
}

main {
    background-color: var(--main-background);
}

main li{
    padding: 5px 20px;
}

main a{
    color: black;
}

.container-content{
    padding: 15px 0;
}

.about p{
    padding: 5px 0;
}

.code div{
    padding: 0 20px;
}

.code div{
    padding: 10px 20px;
}

.contacts-item{
    position: relative;
    padding: 10px 70px;
}

.contacts-item:before{
    position: absolute;
    content: "";
    top: 8px;
    left: 34px;
    width: 20px;
    height: 20px;
    background-size: contain;
}

.contacts .contacts-item:first-child:before{
    background-image: url("assets/icon/1.svg");
}

.contacts .contacts-item:nth-child(2):before{
    background-image: url("assets/icon/2.svg");
}

.contacts .contacts-item:nth-child(3):before{
    background-image: url("assets/icon/3.svg");
}

.contacts .contacts-item:nth-child(4):before{
    background-image: url("assets/icon/4.svg");
}

.skills .contacts-item:before{
    background-image: url("assets/icon/5.svg");
}

.education .contacts-item:before{
    background-image: url("assets/icon/5.svg");
}

.contacts-item a:hover{
    color: #97877d;
}

.listOfProjects{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 30px;
}

.project{
    text-align: center;
    width: 100%;
    margin: 10px;
}

.project-img{
    width: 100%;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.listFooter{
    display: flex;
    justify-content: space-between;
    width: 40%;
}

.listFooter-link{
    color: white;
}

.listFooter-img{
    width: 70px;
    opacity: 1.0;
    filter: invert(100);
}

@media screen and (max-width: 950px){

    h1{
        font-size: 22px;
    }

    .header{
        height: auto;
    }

    .burger{
        display: flex;
        margin: 10px 20px;
    }

    .nav-list{
        display: none;
        position: absolute;
        flex-direction: column;
        width: 100%;
        background: var(--header-background);
    }

    .nav{
        display: flex;
        flex-direction: column;
    }

    .listOfProjects{
        grid-template-columns: 1fr;
        gap: 50px;
    }

    .about p{
        padding: 5px 10px;
    }

    section.code div{
        padding: 10px;
    }

    .project-img {
        width: 80%;
    }

    p, a{
        font-size: 14px;
        padding: 5px;
    }

    .contacts-item{
        font-size: 14px;
    }

    .listFooter{
        width: 50%;
        justify-content: space-around;
    }

    .row{
        margin: 0;
        flex-direction: column;
    }

    .listFooter-img {
        width: 50px;
    }

    .content-name{
        margin: 0;
    }

    .content-colImage{
        width: 50%;
        margin: 10px auto;
        padding: 0;
    }

    .project{
        margin: 0;
    }

    .inactive{
        display: none;
    }

    .header-nav-close.active{
        justify-content: end;
    }

    .active{
        display: flex;
        height: 100vh;
        justify-content: center;
    }
}
